/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Jomolhari&display=swap');

/* global style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: none;
}

/* body & heading 1 style */
body {
    background-color: #FCFCFC;
    font-family: 'Jomolhari', serif;
    font-weight: bold;
    font-size: 1rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

h1 {
    font-family: 'Henny Penny', cursive;
    color: #0356db;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 50px;
}

/* start button and info box style */
button {
    background-color: #0763f4;
    color: #FCFCFC;
    font-size: 1.3rem;
    font-weight: bold;
    width: 180px;
    padding: 10px 30px;
    border-radius: 20px;
    border: 2px solid #46237A;
    margin-bottom: 40px;
}

#info {
    font-size: 1rem;
    width: 240px;
    background-color: #46237A;
}

#info:hover {
    background-color: #0356db;
}

button:focus,
button:hover {
    background-color: #46237A;
    color: #FCFCFC;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* footer style */
footer p {
    text-align: center;
    color: #0356db;
}

/* game rules style */

ol {
    background-color: #46237A;
    color: #FCFCFC;
    padding: 20px 30px;
    border-spacing: 2px solid green;
    margin-bottom: 30px;
    max-width: 500px;
    font-size: 1rem;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rgba(135, 131, 143, 0.736);
}

#enjoy {
    font-size: 1.2rem;
    font-weight: bold;
    color: #209663;
}

#closeInfo {
    font-size: 1.2rem;
    background-color: #0356db;
    display: inline-block;
    width: 150px;
    text-align: center;
    border-radius: 10px;
}

/* username details form style */
form {
    background-color: #209663;
    padding: 40px;
    text-align: center;
    border-radius: 30px;
    border: 10px solid #46237A;
    position: absolute;
    transform: translate(-50%, -95%);
}

label {
    color: #FCFCFC;
    font-size: 1.2rem;
}

#userDetails {
    height: 30px;
    max-width: 160px;
    border-style: none;
    border-radius: 10px;
    background-color: #d9d3d3;
}

input[type="text"] {
    font-size: 1rem;
    padding-left: 10px;
}

input[type="submit"] {
    background-color: #0763f4;
    color: #FCFCFC;
    font-size: 1rem;
    font-weight: bold;
    width: 140px;
    padding: 5px 25px;
    border-radius: 20px;
    border: 2px solid #46237A;
    margin-top: 20px;
}

/* game area with questions & answer style */

#questionsBox {
    background-color: #46237A;
    color: #FCFCFC;
    position: absolute;
    transform: translate(-50%, -70%);
    width: 90%;
    max-width: 600px;
    height: 70vh;
    max-height: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px #73698fdb;
}

#timer {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

hr {
    height: 1px;
    width: 90%;
    margin-left: 5%;
    background-color: #FCFCFC;
    box-shadow: 0px 0px 10px 5px rgba(89, 87, 87, 0.49);
}

#questions {
    height: 75%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

/* questions and answers style */
#questionText {
    font-size: 1.1rem;
    padding-left: 10px;
}

#subAnswer,
#next {
    width: 120px;
    font-size: 1.1rem;
    padding: 5px;
    margin-top: 10px;
}

#subAnswer:hover,
#next:hover {
    background-color: #e2e2c5;
    color: #060606;
}



.actions {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

/* this class is created from js */
.option {
    background-color: #e2e2c5;
    color: #060606;
    margin: 10px 0;
    width: 70vw;
    max-width: 500px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.correct {
    background-color: #209663;
    color: #FCFCFC;
}

.incorrect {
    background-color: rgb(232, 21, 21);
    color: #FCFCFC;
}

.disabled {
    pointer-events: none;
}