/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Press+Start+2P&display=swap');

/* global style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: none;
}

/* body & heading 1 style */
body {
    background-color: #f5bf40;
    font-family: 'Roboto Mono', monospace;
    height: 100vh;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

h1 {
    font-family: 'Henny Penny', cursive;
    color: #0b216c;
    font-size: 2.8rem;
    text-align: center;
    margin-top: 30px;
}

/* start button and info box style */
button {
    background-color: #043aeb;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 50px;
    margin-bottom: 40px;
    cursor: pointer;
}

#info {
    font-size: 1.1rem;
    text-transform: capitalize;
    background-color: #46237A;
    color: #ffffff;
    margin-bottom: 30px;
    cursor: pointer;
}

#info:hover {
    background-color: #043aeb;
}

button:hover {
    background-color: #46237A;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* footer style */
footer p {
    text-align: center;
    color: #0b216c;
    font-weight: bold;
}

/* game rules info box style */

#rules {
    background-color: #46237A;
    color: #FCFCFC;
    padding: 20px;
    margin-bottom: 30px;
    font-size: 1.2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(37, 36, 40, 0.7);
}

ol {
    margin: 30px 0 20px 40px;
}

#enjoy {
    font-size: 1.7rem;
    font-weight: bold;
    color: #8fd005;
    margin: 50px 0;
    text-align: center;
}

.focus {
    text-align: center;
}

#closeInfo:hover {
    background-color: #8fd005;
    color: #0b216c;
}

/* username details form style */
form {
    background-color: #8fd005;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    border: 3px solid #0b216c;
    position: absolute;
    transform: translate(-50%, -95%);
}

label {
    color: #0b216c;
    font-size: 1.3rem;
    font-weight: bold;
}

#userDetails {
    height: 30px;
    border-style: none;
    border-radius: 5px;
    background-color: #e7e7ef;
    border: 1px solid #0b216c;
}

input[type="text"] {
    font-size: 1rem;
    font-weight: bold;
    padding-left: 10px;
    margin: 20px 0;
}

input[type="submit"] {
    background-color: #043aeb;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
}

/* game area with questions & answer style */

#questionsBox {
    background-color: #46237A;
    color: #FCFCFC;
    position: absolute;
    transform: translate(-50%, -70%);
    width: 90%;
    max-width: 600px;
    height: 70vh;
    max-height: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px #73698fdb;
}

#gameInfo {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

hr {
    height: 1px;
    width: 90%;
    margin-left: 5%;
    background-color: #FCFCFC;
    box-shadow: 0px 0px 10px 5px rgba(89, 87, 87, 0.49);
}

#questions {
    height: 75%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

/* questions and answers style */
#questionText {
    font-size: 1.1rem;
    padding-left: 10px;
}

#subAnswer,
#next {
    width: 120px;
    font-size: 1.1rem;
    padding: 5px;
    margin-top: 10px;
}

#subAnswer:hover,
#next:hover {
    background-color: #e2e2c5;
    color: #060606;
}



.action {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

/* this classes are created from js  and give style here*/
.option {
    background-color: #e2e2c5;
    color: #060606;
    margin: 10px 0;
    width: 70vw;
    max-width: 500px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.correct {
    background-color: #209663;
    color: #FCFCFC;
}

.incorrect {
    background-color: rgb(232, 21, 21);
    color: #FCFCFC;
}

.disabled {
    pointer-events: none;
}

.optionCorrect {
    background-color: #209663;
    color: #FCFCFC;
}

/* results info box style */
#results {
    background-color: #0356db;
    color: #e2e2c5;
    position: absolute;
    transform: translate(-50%, -85%);
    width: 90%;
    max-width: 450px;
    height: 300px;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 20px;
}

#congrats {
    margin: 10px 0 60px;
}