/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Press+Start+2P&display=swap');

/* global style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: none;
}

/* body & heading 1 style */
body {
    background-color: #f5bf40;
    font-family: 'Roboto Mono', monospace;
    height: 100vh;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

h1 {
    font-family: 'Henny Penny', cursive;
    color: #0b216c;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 20px;
}

/* start button and info box style */
button {
    background-color: #043aeb;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 50px;
    margin-bottom: 40px;
    cursor: pointer;
}

#info {
    font-size: 1.1rem;
    text-transform: capitalize;
    background-color: #46237A;
    color: #ffffff;
    margin-bottom: 30px;
    cursor: pointer;
}

#info:hover {
    background-color: #043aeb;
}

button:hover {
    background-color: #46237A;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* footer style */
footer p {
    text-align: center;
    color: #0b216c;
    font-weight: bold;
}

/* game rules info box style */
#rules {
    background-color: #46237A;
    color: #FCFCFC;
    padding: 20px;
    margin-bottom: 30px;
    font-size: 1.2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(37, 36, 40, 0.7);
}

ol {
    margin: 30px 0 20px 40px;
}

#enjoy {
    font-size: 1.7rem;
    font-weight: bold;
    color: #8fd005;
    margin: 50px 0;
    text-align: center;
}

.focus {
    text-align: center;
}

#closeInfo:hover {
    background-color: #8fd005;
    color: #0b216c;
}

/* username details form style */
form {
    background-color: #8fd005;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    border: 3px solid #0b216c;
    position: absolute;
    transform: translate(-50%, -95%);
}

label {
    color: #0b216c;
    font-size: 1.3rem;
    font-weight: bold;
}

#userDetails {
    height: 30px;
    border-style: none;
    border-radius: 5px;
    background-color: #e7e7ef;
    border: 1px solid #0b216c;
}

input[type="text"] {
    font-size: 1rem;
    font-weight: bold;
    padding-left: 10px;
    margin: 20px 0;
}

input[type="submit"] {
    background-color: #043aeb;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #46237A;
}

/* game area with questions & answer style */
#questionsBox {
    background-color: #46237A;
    color: white;
    position: absolute;
    transform: translate(-50%, -67%);
    width: 90%;
    max-width: 650px;
    height: 65%;
    border-radius: 10px;
    font-size: 1.2rem;
}

#gameInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    height: 15%;
    font-weight: bold;
    color: #8fd005;
}

#name {
    text-transform: uppercase;
    letter-spacing: 1px;
}

hr {
    height: 1px;
    width: 90%;
    margin-left: 5%;
    background-color: #FCFCFC;
}

/* questions and answers style */
#questions {
    width: 80%;
    margin: 0 auto;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#next {
    font-size: 1rem;
    padding: 5px 20px;
    margin-top: 12px;
}

#next:hover {
    background-color: #efe97b;
    color: #0b216c;
}

#questionText {
    font-size: 1.2rem;
    font-weight: bold;
}

.action {
    display: flex;
    justify-content: center;
}

/* this classes are created from js  and gave style here*/
.option {
    background-color: #ebebd4;
    color: #0b216c;
    margin: 10px 0;
    padding: 2px 0;
    width: 70vw;
    max-width: 450px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid rgb(24, 24, 24);
    font-weight: bold;
    cursor: pointer;
}

.option:hover {
    outline: 4px solid #efe97b;
    color: #4164d6;
}

.correct {
    background-color: #8fd005;
    color: #ebebd4;
}

.incorrect {
    background-color: #F6511D;
    color: #ebebd4;
}

.disabled {
    pointer-events: none;
}

.optionCorrect {
    background-color: #8fd005;
    color: #ebebd4;
}

/* results info box style */
#results {
    background-color: #3dc1fa;
    color: #46237A;
    position: absolute;
    transform: translate(-50%, -70%);
    width: 90%;
    max-width: 450px;
    height: 400px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    border: 2px solid rgb(38, 37, 37);
    box-shadow: 0px 0px 10px 5px rgba(60, 63, 65, 0.7);
    padding: 30px 0;
}

#icon {
    font-size: 4rem;
    color: #8e0404;
}

#congrats {
    text-transform: uppercase;
    margin: 20px;
    font-size: 1.6rem;
    letter-spacing: 2px;
}

#scoreTitle {
    font-size: 1.4rem;
    text-transform: capitalize;
    margin-bottom: 10px;
}

#correctAnsw {
    color: #8fd005;
    background-color: #46237A;
    margin: 10px 0;
    padding: 5px 0;
}

#wrongAnsw {
    background-color: #46237A;
    color: #F6511D;
    padding: 5px 0;
}

#restart {
    margin-top: 20px;
}

/* media querie for responsive design */
@media screen and (min-width: 730px) {
    h1 {
        font-size: 3.5rem;
    }

    #next {
        margin-top: 20px;
        font-size: 1.3rem;
        padding: 10px 30px;
    }

    footer {
        font-size: 1.2rem;
    }

    #gameInfo,
    #questionText,
    .option {
        font-size: 1.4rem;
    }

    .option {
        padding: 7px 0;
    }
}

/* end of css code */